<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
   
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
	<!--[if lt IE 8]>
		<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
		<title>{{ page.title }}</title>

	</head>

	<body>
		<div id="container">
			<div id="header">
				<h1 id="roundme">Datakrup<span>dot</span>com</h1>
				{% include menu.markdown %}	
			</div>
			<div class="clear"></div>
			<div id="content_sidebar_wrapper">
				<div id="content">
					
					<h1>{{ page.title }}</h1>
					
					<br />
					{% include sharepost.markdown %}
					
					<br />
					{{ content }}
					<div class="left_column">
				    {% if page.previous %}
				      <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
				    {% endif %}
				  </div>

				  <div class="right_column">
				    {% if page.next %}
				      <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
				    {% endif %}
				  </div>
					<br />
				
					{% include sharepost.markdown %}
					
					<br />
					
					<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/datakrup/embed.js"></script><noscript><a href="http://disqus.com/forums/datakrup/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
				</div>
				<div id="sidebar">
				    
					{% include author.markdown %}
				    
				</div>
				<div class="clear">	</div>
			</div>
			<div id="footer">
				<div id="about">
				<pre class="brush: ruby">
					
						(0..1).map{|n| n + 4}.reduce(88){|x,y| x - 23} # => 42
					
				</pre><br>
				<a href="/impressum">impress</a>
				
				</div>
			</div>
		</div>
		{% include javascript.markdown %}
		{% include analytics.markdown %}
	</body>
	</html>